# Python
__pycache__/
*.py[cod]
*.class
.venv/
env/
venv/

# Environment Variables
.env

# Data and Artifacts (large files)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*.pkl
models/*.json
!models/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
